<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>

<body>
  <h1>添加用户</h1>
  <form action="/add" method="post">
    <label for="username">用户名：</label>
    <input type="text" id="username" name="username" /><br />
    <label for="age">年龄：</label>
    <input type="number" id="age" name="age" /><br />
    <label for="sex">性别：</label>
    <input type="text" id="sex" name="sex" /><br />
    <button type="submit">添加</button>
  </form>
</body>

</html>